# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# Production & Build info
build/
dist/
dist-ssr/
release/
win-unpacked/
linux-unpacked/
mac-unpacked/

# Electron Artifacts
*.exe
*.msi
*.app
*.dmg
*.rpm
*.deb
*.AppImage
*.snap
*.zip
*.tar.gz
*.tgz
*.rar
*.7z
*.asar
*.dll
*.so
*.dylib

# Others
key.pem
cert.pem
sidecar/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
